
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: darkred;
  min-height:5vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  flex-direction: row;
  display: block;
  padding: 4px;
  background-color: #dddddd;
  
}

a:link {
  text-decoration: none;
  padding: 10px 10px;
  text-decoration-color: lightgrey;
}

.logout {
  font: bold 11px Arial;
  background-color: darkred;
  min-height:5vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: goldenrod;
  border: none;
  padding-top: 10px;
}

.login {
  text-align: center;
}

.sign-up {
  text-align: center;
}

a:link {
  color:goldenrod;
}

a:visited {
  color: goldenrod;
}

a:hover {
  color: silver;
}

.shake {
  margin-left: 450px;
}

.image2 {
  margin-left: 10px;
}

.image3 {
  margin-left: 10px;
}

h3 {
  float:left;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: darkred;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

body {
  font: bold 12px Arial;
  background-color: lightgrey;
}

.itemcard {
  margin-left: 30px;
  transition: 0.3s;
}


.card-container {
  margin-left: 30px;
    padding: 2px 16px;
}

.button-center {
  background-color: darkred;
  font: bold 11px Arial;
  text-align: center;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

h5 {
  text-align: left;
}
